@model CopaDoMundo.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Entrar</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.ValidationSummary(true, "Login não foi efetuado. Informe os dados corretos.")

    <fieldset>
        <legend>Informe seu login e senha.</legend>
        <div>
            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Login", @style = "width: 250px; height: 40px", type = "text" } })
        </div>
        <br />
        <div>
            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Senha", @style = "width: 250px; height: 40px", @type = "password" } })
        </div>
        <br />
        <div>
            Lembre-me
            @Html.CheckBoxFor(m => m.RememberMe)
        </div>
        <br />
        <div>
            <input type="submit" value="Entrar" class="btn btn-group-sm" style="width:250px; height:40px;"/>
        </div>
        <br />
        @Html.ActionLink("Cadastre-se","Regiter")
    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}