@model CopaDoMundo.Models.ChangePasswordModel

@{
    ViewBag.Title = "Alteração de senha";
}


<hgroup class="title">
    @{
        <h1>@ViewBag.Title</h1>
    }
</hgroup>

<p>
    Senhas devem ser no minimo @Membership.MinRequiredPasswordLength caracteres.
</p>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Alteração de senha</legend>
        <div class="input-group-btn">
            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite a senha antiga", @style = "width: 200px;", @type = "password" } })
        </div>
        <div>
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite a nova senha", @style = "width: 200px;", @type = "password" } })
        </div>
        <div>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirme sua senha", @style = "width: 200px;", @type = "password" } })
        </div>
        <br />
        <input type="submit"  value="Alterar" class="btn btn-group-sm" style="width: 200px;" />
    </fieldset>
}